{% extends 'base/home-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}

    {% block aside_bar %}
    {% include 'aside/aside.html' %}
    {% endblock %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

        {% block navbar %}
        <!-- Navbar -->
        {% include 'aside/navbar.html' %}
        <!-- End Navbar -->
        {% endblock %}
        {% block pagination %}
        {% endblock %}

        <div class="container-fluid py-2 container-fluid-height">
            {% block zoom_list %}

            <div class="row mb-2">
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Age</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ age }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Gender</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ gender }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Weight</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ weight }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Height</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ height }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>

            </div>

            {% endblock %}

            {% block footer %}
            {% include 'aside/footer.html' %}
            {% endblock %}

        </div>

    </main>

{% endblock %}
