{% extends 'base/home-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}

    {% block aside_bar %}
    {% include 'aside/aside.html' %}
    {% endblock %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">


        <div class="container-fluid py-2 container-fluid-height">
            {% block zoom_list %}
            {% if messages %}
                <div class="alert alert-dark alert-dismissible text-white {% for message in messages %}{% if message.tags %}{{ message.tags }}{% endif %}{% endfor %}" role="alert">
                    {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}" id="{{ message.tags }}" {% endif %}>{{ message }}</span>
                    {% endfor %}
                    <button type="button" class="btn-close text-lg py-3 opacity-1" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <h2>Appointment Status</h2>
                                <ul>
                                    {% for item in appointment %}
                                    <li>
                                        {{ item.patient }} -- {{ item.status }} -- {{ item.date }} -- {{ item.time }}
                                        <form method="post" action="{% url 'core:status' user.id %}">
                                            {% csrf_token %}
                                                <div class="input-group input-group-outline mb-3">
                                                    <input name="item_id" type="hidden" value="{{ item.id }}">
                                                    <button class="btn btn-sm bg-gradient-primary mt-4 mb-0 mx-4" type="submit" name="action" value="accept">Accept</button>
                                                    <button class="btn btn-sm bg-gradient-danger mt-4 mb-0" type="submit" name="action" value="reject">Reject</button>
                                                </div>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}

            {% block footer %}
            {% include 'aside/footer.html' %}
            {% endblock %}

        </div>

    </main>

{% endblock %}
