{% extends 'base/home-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}

    {% block aside_bar %}
    {% include 'aside/aside.html' %}
    {% endblock %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

        {% block navbar %}
            <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl nav-div-flex" id="navbarBlur" data-scroll="true">
            <div class="nav-flex2 search-zoom">
                <div class="ms-md-auto pe-md-3 search-box">
                    <form method="GET" action="{% url 'core:worker_dashboard' user.id %}">
                        <div class="flex-form">
                            <div class="input-group input-group-outline form-item">
                                <label class="form-select-label" for="{{ filter.form.blood_group.id_for_label }}">{{ filter.form.blood_group.label_tag }}</label>
                                {{ filter.form.blood_group|attr:'class:form-control'|attr:"placeholder:Blood Group" }}
                            </div>
                            <div class="input-group input-group-outline form-item">
                                <label class="" for="{{ filter.form.is_diabetic.id_for_label }}">{{ filter.form.is_diabetic.label_tag }}</label>
                                {{ filter.form.is_diabetic|attr:'class:form-control' }}
                            </div>
                            <div class="input-group input-group-outline form-item">
                                <label class="" for="{{ filter.form.has_fever.id_for_label }}">{{ filter.form.has_fever.label_tag }}</label>
                                {{ filter.form.has_fever|attr:'class:form-control' }}
                            </div>
                            <div class="input-group input-group-outline form-item">
                                <label class="" for="{{ filter.form.has_allergy.id_for_label }}">{{ filter.form.has_allergy.label_tag }}</label>
                                {{ filter.form.has_allergy|attr:'class:form-control' }}
                            </div>

                        </div>
                        <button class="btn btn-sm bg-gradient-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="nav-item d-xl-none ps-3 d-flex align-items-center side-bar-menu-toggler">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </a>

            </div>
        </nav>
        <!-- End Navbar -->
        {% endblock %}
        {% block pagination %}
        {% endblock %}

        <div class="container-fluid py-2 container-fluid-height">
            {% block zoom_list %}
            {% if messages %}
                <div class="alert alert-dark alert-dismissible text-white {% for message in messages %}{% if message.tags %}{{ message.tags }}{% endif %}{% endfor %}" role="alert">
                    {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}" id="{{ message.tags }}" {% endif %}>{{ message }}</span>
                    {% endfor %}
                    <button type="button" class="btn-close text-lg py-3 opacity-1" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="row mb-2">
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Username</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ worker.user.username }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Email Address</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ worker.user.email }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Profession</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ worker.position }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Total Appointments</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ total_appointments }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-2">
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Total Pending Appointments</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ pending_count }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Total Rejected Appointments</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ rejected_count }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0">
                    <div class="card p-3">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-start">
                                <p class="text-sm mb-0 text-capitalize">Total Accepted Appointments</p>
                                <h6 class="m-0"><span class="font-weight-light text-color">{{ accepted_count }}</span></h6>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer px-3 py-2">
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">Patient List</h6>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Patient Name
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Age
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Height
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Weight
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for patient in patients %}
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../assets/img/team-2.jpg"
                                                         class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ patient.username }}</h6>
                                                    <p class="text-xs text-secondary mb-0">{{ patient.user.email }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">{{ patient.age }}</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-secondary text-xs font-weight-bold">{{ patient.height }}</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{ patient.weight }}</span>
                                        </td>
                                        <td class="align-middle">
                                            <button type="button" class="btn btn-sm btn-gradient-secondary text-light font-weight-bold text-xs">
                                                <a href="{% url 'core:patient_detail' user_id=user.id pk=patient.pk %}" class="font-weight-bold text-xs"
                                                   data-toggle="tooltip" data-original-title="Edit user">
                                                    View Patient Medical History
                                                </a>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}

            {% block footer %}
            {% include 'aside/footer.html' %}
            {% endblock %}

        </div>

    </main>

{% endblock %}
